.table-header {
  max-width: 19vw;
  }

.list-wrapper {
  width: 270px;
  margin: 0 8px;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  }

.list-wrapper:first-child {
  margin-left: 10px;
  }

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 10px 0;
  box-shadow: 0 2px 1px #bebebe;
  border: solid 1px #bebebe;
  background: #EEEEEE;
  border-radius: 3px;
  overflow: auto;
  }

.outer-table-container {
  padding-top: 85px;
  }

.list {
  position: relative;
  margin: 0 8px 35px 8px;
  width: 276px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border: solid 1px #bebebe;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  white-space: normal;
  max-height: 74vh;
  overflow: auto;
}

.cards {
  bottom: 2px;
  position: absolute;
}

.input-box {
  padding: 0 0 10px 10px;
  width: auto;
  height: auto;
  margin-left: 20px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border: solid 1px #bebebe;
  background-color: white;
  }

.input-table {
  border: 1px solid #ccc;
  background: #fdfdfd;
  border-radius: 2px;
  padding: 5px 6px 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
  color: #333;
  width: 182px;
  margin: 10px 0;
  }

.delete-x {
  float: right;
  background: url('../../../client/src/gray-x.png') center no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
  }

.trello-trash {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10px;
  margin-top: 10px;
  background: white url('../../../client/src/delete-gray-30.png') no-repeat center;
  background-size: contain;
  width: 27px;
  height: 27px;
  }

.trello-trash:hover {
  background: gray url('../../../client/src/delete-white.png');
  background-size: contain;
  }