 .trello {
   background-color: #0077B5;
   width: 100%;
   height: 97vh;
   display: flex;
   position: absolute;
    top: 85px;
 }


.allList {
  display: flex;
  width: 100%;


}
.list {
  margin: 20px;
  width: 225px;
  background-color: #caccce;
  height: 300px;
}

.addList {
  margin: 25px 0;
}

.cards {
  bottom: 2px;
  position: absolute;
}
