html {
  height: 100%;
  background-color: #0077B5;
  }

li {
  padding: 5px;
  background-color: white;
  }

.trello-bg {
  padding-top: 85px;
  background-color: #0077B5;
 }

.table-container {
  height: auto;
  width: auto;
  padding: 30px;
  }


.allList {
  display: flex;
  width: 100%;


}
.list {
  margin: 6px;
  width: 170px;
  background-color: #caccce;
  height: auto;
  border-radius: 4px;
  padding: 5px;
}

.addList {
  margin: 25px 0;
}

.cards {
  bottom: 2px;
  position: absolute;
}
