.navBar {
  height: 85px;
  background: #293e4a;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.navBar .navLeft {
  width: 600px;
}

.navBar .navLeft img {
  height: 100%;
  padding: 20px;
  margin-left: 29px;
}

.navBar .navLeft .searchBar {
  position: absolute;
  margin-top: 20px;
  padding: 12px;
  font-family: Arial, serif;
  border: none;
  color: #293e4a;
  width: 310px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 3px;
  background: #e1e9ed;
  padding-left: 43px;
}

.navBar .navLeft .searchBar::-webkit-input-placeholder {
   color: #293e4a;
   font-size: 20px;
   font-weight: 500;
}

#placeholderImg {
  background-image: url('../../src/search.png');
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 15px;
}

.navBar .navRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  right: 0;
  position: absolute;
  margin-right: 43px;
  width: 250px;
}

.navBar .navRight a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e1e9ed;
  text-decoration: none;
}

#trell-card {
  margin-bottom: -4px;
}

#trell-card img {
  width: 18px;
  margin-bottom: 3px;
}

.profile-icon-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 46px;
  }

.image-icon {
  height: 23px;
  width: 23px;
  border-radius: 50%;
}

.me-hover:hover {
  cursor: pointer
}

.account-settings {
  z-index: 100;
  width: 130px;
  height: 85px;
  margin-top: 155px;
  background: #293e4a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
}

.account-settings img {
  width: 26px;
  margin-bottom: 2px;
}

.account-settings a {
  text-decoration: none;
  color: #e1e9ed;
}

.profile-settings {
  z-index: 100;
  width: 130px;
  height: 85px;
  margin-top: 85px;
  background: #293e4a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  }

.profile-settings img {
  width: 26px;
  margin-bottom: 2px;
  }

.profile-settings a {
  text-decoration: none;
  color: #e1e9ed;
  }

.search-results a {
  text-decoration: none;
}

.search-results {
  z-index: 100;
  background: #293e4a;
  position: fixed;
  margin-top: 85px;
  width: 374px;
  margin-left: 176px;
}

.search-result {
  height: 60px;
  display: flex;
  width: 374px;
  justify-content: space-between;
  align-items: center;
  border-left: solid 6px white;
}

.search-result img {
  height: 45px;
  width: 45px;
  margin: 0px 12px;
}

.search-result p {
  color: #e1e9ed;
  padding: 12px;
}

.search-result:hover {
  cursor: pointer;
  border-left: solid 6px #0077b5;
}
