.navBar {
  height: 65px;
  background: #293e4a;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.navBar .navLeft {
  width: 600px;
}

.navBar .navLeft img {
  height: 100%;
  padding: 13px;
  margin-left: 29px;
}

.navBar .navLeft .searchBar {
  position: absolute;
  margin-top: 17px;
  margin-left: 15px;
  padding: 5px;
  font-family: Arial, serif;
  border: none;
  color: #293e4a;
  width: 310px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 3px;
  background: #e1e9ed;
  padding-left: 43px;
}

.navBar .navLeft .searchBar::-webkit-input-placeholder {
   color: #293e4a;
   font-size: 18px;
   font-weight: 500;
}

#placeholderImg {
  background-image: url('../../src/search.png');
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 15px;
}

.navBar .navRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  right: 0;
  position: absolute;
  //margin-right: 34px;
  width: 295px;
}

.navBar .navRight a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e1e9ed;
  text-decoration: none;
}

#trell-card {
  margin-bottom: -4px;
}

#trell-card img {
  width: 18px;
  margin-bottom: 3px;
}

.trello-icon-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 46px;
  width: 80px;
  }

.network-icon-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 48px;
  width: 80px;
  }

.drop-menu {
  height: 130px;
  width: 115px;
  z-index: 100;
  position: fixed;
  }

.profile-icon-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 46px;
  width: 115px;
  margin-left: -21px;
  }

.image-icon {
  height: 23px;
  width: 23px;
  border-radius: 50%;
}

.profile-icon {
  background: url('http://www.tgreenidge.com/img/linkedin.svg') center no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  }

.me-hover:hover {
  cursor: pointer
}

.account-settings {
  z-index: 100;
  width: 115px;
  height: 65px;
  margin-top: 130px;
  background: #293e4a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
}

.account-settings img {
  width: 26px;
  margin-bottom: 2px;
}

.account-settings a {
  text-decoration: none;
  color: #e1e9ed;
}

.profile-settings {
  z-index: 100;
  width: 115px;
  height: 65px;
  margin-top: 65px;
  background: #293e4a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  text-decoration: none;
  }

.profile-settings img {
  width: 26px;
  margin-bottom: 2px;
  }

.profile-settings a {
  text-decoration: none;
  color: #e1e9ed;
  }

.search-results a {
  text-decoration: none;
}

.search-results {
  z-index: 100;
  background: #293e4a;
  position: fixed;
  margin-top: 50px;
  width: 360px;
  margin-left: 167px;
}

.search-result {
  height: 55px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-bottom: solid lightgray 1px;
  //border-left: solid lightgray 1px;
  //border-right: solid lightgray 1px;
  padding: 5px 0 5px 10px;
  text-align: left;
}

.search-result img {
  height: 38px;
  width: 43px;
  margin: 0px 12px;
  border-radius: 50%;
}

.search-result p {
  color: #e1e9ed;
  padding: 12px;
}

.search-result:hover {
  cursor: pointer;
  border-left: solid 2px #293e4a;
}

@media (max-width: 645px) {
  .navBar .navLeft .searchBar {
    width: 180px;
  }
}

@media (max-width: 510px) {
  .navBar .navLeft .searchBar {
    margin-top: 70px;
    margin-left: -146px;
    border: solid 1px;
    width: 256px;
  }
}
