//Makes the hr line light gray
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #d9d9d9;
  margin: 1em 0;
  padding: 0;
  }

// Background color/img profile page
.profile-background {
  background-color: #E9E9E9;
  }

// Name in headline box
.title-text {
  font-size: 26px;
  font-weight: bold;
  }

// Titles to info boxes
.title-text-gray {
  padding-top: 25px;
  padding-left: 25px;
  font-size: 26px;
  color: #afb2b5;
  }

// Text within info boxes
.profile-text {
  font-size: 13px;
  text-decoration: none;
  }

.md-text {
  font-size: 13px;
  text-decoration: none;
  }

.sm-text {
  font-size: 15px;
  font-weight: bolder;
  }

.sm-text-gray {
  font-size: 15px;
  font-weight: bold;
  color: #696C6F;
  }

.smlr-text-gray {
  font-size: 15px;
  color: #696C6F;
  }


.sm-text:hover {
  font-size: 15px;
  color: #006fa6;
  font-weight: bolder;
  }

.lg-text-blue {
  font-size: 32px;
  text-decoration: none;
  color: #006fa6;
  }

// Add info link text within info boxes
.add-text-blue {
  font-size: 14px;
  color: #006fa6;
  }

// Outer container holding the info boxes
.container{
  margin:0 auto;
  width:60%;
  overflow:auto;
  clear:both;
  padding-top: 105px;
  }

// Left and Right columns within .container
.profile-col-left {
  overflow:auto;
  width:70%;
  float:left;
  }

.profile-col-right {
  width:30%;
  float:left;
  }

// container within info box to hold user data
.box-info {
  width: 100%;
  line-height: 25px;
  padding: 22px 4% 30px 4%;
  }


.header-box,.experience-box,.certifications-box,.education-box,.skills-box,.following-box {
  border: black solid 1px;
  margin: 0 2% 2% 0;
  }

// Link, text, and hover styling at bottom of info boxes
.bottom-add {
  width: 100%;
  height: 40px;
  background-color: #e4e4e4;
  }

.bottom-add:hover {
  background-color: #F1F3F5;
  }

.bottom-add-text {
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  }

.bottom-add-text:hover {
  color: #0077b5;
  }

// Question mark icon and hover popup
.question-icon {
  display: inline-block;
  background: url('https://www.measuretn.gov:444/ReportCard/Content/Images/Icons/Gray%20question%20mark.png') center no-repeat;
  width: 13px;
  height: 13px;
  background-size: contain;
  }

#tooltip {
  margin-left: 5px;
  position: relative;
  display: inline-block;
  }

#tooltip a span {
  display: none;
  color: white;
  }

#tooltip a:hover span {
  display: block;
  position: absolute;
  width: 200px;
  background: #fff;
  height: auto;
  left: 30px;
  top: -18px;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }



//////
// Header Box
//////
.header-box {
  padding: 10px 10px;
  height: auto;
  border: gray solid 1px;
  background-color: white;
  line-height: 25px;
  }

.profile-pic-container {
  width: 35%;
  display: inline-block;
  padding: 2% 1% 1% 1%;
  margin:0 auto;
  overflow:auto;
  clear:both;
  }

.profile-pic {
  background: url('https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg') center no-repeat;
  background-size: contain;
  width: 100%;
  height: 190px;
  }

.header-info-container {
  width: 65%;
  display: inline-block;
  padding: 1% 1% 1% 1%;
  margin:0 auto;
  overflow:auto;
  clear:both;
  }

.popup:hover {
  cursor: pointer;
  background: #CAECFC;
  }

.name-popup-box {
  position: relative;
  width: 15vw;
  height: auto;
  background-color: #fff;
  text-align: center;
  border: solid #737373 0.5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  }

.pencil-lg {
  display: inline-block;
  background: #e9e9e9 url('https://d30y9cdsu7xlg0.cloudfront.net/png/1170-200.png') no-repeat center;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-left: 7px;
  }

.connections-float-R {
  float: right;
  line-height: 15px;
  }

.connections-num {
  font-size: 20px;
  color: black;
  font-weight: bold;
  text-align: right;
  }

.sm-gray-text {
  font-size: 11px;
  color: #afb2b5;
  text-align: center;
  }

//////
// Add Section Box
//////
.add-section-box {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 1.5% 0.5% 2% -1%;
  }

.add-section {
  width: 48%;
  height: 148px;
  margin: 0 .5% 1.5% 1%;
  background-color: white;
  border: gray solid 1px;
  }


.section-bottom-add {
  width: 100%;
  height: 40px;
  background-color: #e4e4e4;
  z-index: 1;
  }

.section-bottom-add:hover {

  }

.add-section:hover {
  background-color: #F1F3F5;
  z-index: 5;
  }


.section-view-more {
  height: auto;
  border: gray solid 1px;
  background-color: white;
  line-height: 25px;
  margin: -1% 2% 2% 0;
  }

.section-info {
  height: 106px;
  width: 100%;
  }

.icon-box {
  width: 30%;
  height: 108px;
  float: left;
  padding: 5px 0 0 15px;
  }

.icon-img {
  background: url('http://bestwatchapps.s3.amazonaws.com/media/logos/2016/04/25/kekanto-guia-da-cidade_1d029a33.png') center no-repeat;
  background-size: contain;
  width: 80%;
  height: 90px;
  }

.mini-info-box {
  width: 70%;
  height: 108px;
  float: left;
  padding: 12px 12px 12px 0;
  }

.section-title-text {
  font-size: 18px;
  font-weight: bolder;
  }

.gray-text {
  font-size: 13px;
  color: #AFB1B4;
  line-height: 16px;
  }

//////
// Sidebar Box
//////
.sidebar-box {
  height: auto;
  border: gray solid 1px;
  background-color: white;
  padding: 25px 25px;
  margin-bottom: 15px;
  }

.course-box {
  height: auto;
  border: gray solid 1px;
  background-color: white;
  padding: 25px 25px;
  }

.profile-strength-wrap {
  position: relative;
  margin-top: 10px;
  width: 200px;
  height: 100px;

  }

.profile-strength-wrap .fill {
  position: absolute;
  top: 90px;
  left: 0;
  height: 0px;
  width: 90px;
  overflow: hidden;
  }

.profile-strength-wrap .mask {
  display: block;
  height: 90px;
  left: 0;
  position: absolute;
  top: 0;
  width: 90px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #CACACA;
  z-index: 1;
  margin-left: 20px;
  }

.profile-strength-wrap span.level {
  position: absolute;
  left: 35%;
  top: 1px;
  width: 80%;
  text-align: right;
  border-bottom: 1px solid #888;
  text-transform:capitalize;
  font-size: 12px;
  }

.prof-strength-title {
  font-size: 15px;
  font-weight: bolder;
  }

.advertisement {
  background: url('../../../client/src/DmtnAd.png') center no-repeat;
  background-size: contain;
  width: 100%;
  height: 160px;
  }


//////
// Experience Box
//////
.experience-box {
  height: auto;
  background-color: white;
  border: gray solid 1px;
  margin-top: 5px;
  }

//////
// Certifications Box
//////
.certifications-box {
  height: auto;
  background-color: white;
  border: gray solid 1px;
  }

//////
// Education Box
//////
.education-box {
  height: auto;
  background-color: white;
  border: gray solid 1px;
  }

//////
// Skills Box
//////
.skills-box {
  height: auto;
  background-color: white;
  border: gray solid 1px;
  }

//////
// Following Box
//////
.following-box {
  height: auto;
  background-color: white;
  border: gray solid 1px;
  }
