.navBar {
  height: 85px;
  background: #293e4a;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.navBar .navLeft {
  width: 600px;
}

.navBar .navLeft img {
  height: 100%;
  padding: 20px;
  margin-left: 29px;
}

.navBar .navLeft .searchBar {
  position: absolute;
  margin-top: 20px;
  padding: 12px;
  font-family: Arial, serif;
  border: none;
  color: #293e4a;
  width: 310px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 3px;
  background: #e1e9ed;
  padding-left: 43px;
}

.navBar .navLeft .searchBar::-webkit-input-placeholder {
   color: #293e4a;
   font-size: 20px;
   font-weight: 500;
}

#placeholderImg {
  background-image: url('../src/search.png');
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 15px;
}

.navBar .navRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  right: 0;
  position: absolute;
  margin-right: 55px;
  width: 250px;
}
