.connection-bg {
  display: flex;
  /* align-items: center; */
  background-color: #E9E9E9;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 130px;
  width: 100%;
  height: auto;
  }

.connection-top-box {
  width: 90%;
  height: auto;
  background-color: white;
  border: solid 1px #a0a0a0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  display: inline-block;
  margin: 0 40px 40px 40px;
  min-height: 310px;
  }

.connection-bottom-box {
  width: 90%;
  height: auto;
  background-color: white;
  border: solid 1px #a0a0a0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  margin: 0 40px 40px 40px;
  min-height: 310px;
  }

.connection-header {
  width: auto;
  height: auto;
  padding: 5px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #4b4b4b;
  background-color: #C7C7C7;
  border-bottom: thin #737373 solid;
  }

.connection-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: auto;
  padding: 15px;
  background-color: white;
  }

.connection-item {
  width: 138px;
  height: auto;
  background-color: #EEEEEE;
  border: solid 1px #bebebe;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  margin: 5px 5px;
  min-height: 224px;
  }

.connection-img {
  border-radius: 2px 2px 0 0;
  width: 100%;
  }

.connection-name {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  }

.connection-text {
  text-align: center;
  font-weight: 100;
  font-size: 12px;
  padding-bottom: 6px;
  }

.button-connect {
  color: #fff;
  background: #0077b5;
  border: none;
  text-align: center;
  padding: 10px;
  border-radius: 0 0 2px 2px;
  font-weight: bold;
  width: 100%;
  }

.button-connect:hover,.button-connect:focus {
  background: #046293;
  cursor: pointer;
  }

.connections .conn {
  max-width: 175px;
  min-width: 175px;
  margin-right: 20px;
  background: white;
}

.connections .conn img {
  width: 100%;
}

.connections .conn .conn-info {
  padding: 5px;
  margin-top: -8px;
}

.connections .conn .conn-info p:nth-child(1) {
  font-weight: bold;
}

.connections .conn .conn-info p:nth-child(2) {
  font-size: 13px;
}
